.msg{
    display:flex;
    align-items:center;
    position:relative;
    width:fit-content;
    justify-content: space-between;
    margin:15px;
}

.msg > p{
    background-color: antiquewhite;
    font-size:medium;
    padding:15px;
    margin:10px;
    margin-right:auto;
}


.msg > small{
    color:gray;
    position:absolute;
    font-size:8px;
    bottom:-5px;
    right:0;
}

.msg_sender{
    margin-left:auto;
}
.msg_sender > msg_photo{
    order:0;
}

.msg_sender > p{
    background-color:blue;
    color:yellow;
}